@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.todo:checked ~ span{
    @apply bg-gradient-to-br from-gradient_1 to-gradient_2
}
.todo:checked ~ p{
    @apply text-Light_Grayish_Blue_light dark:text-Very_Dark_Grayish_Blue_dark1 line-through
}

.todo:checked ~ span > svg {
    @apply text-Very_Light_Gray dark:text-Very_Light_Gray
}
.status p.active{
    @apply text-Bright_Blue
}
.status-mobile p.active{
    @apply text-Bright_Blue
}
.fade-in{
    animation: fadein 500ms ease-in-out forwards;
}
@keyframes fadein {
    0%{
        opacity: 0;
        transform: scale(0);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}
@media (hover: hover) {
    .check:hover{
        opacity: 1;
    }
}

.attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }
