@tailwind base;
@tailwind components;
@tailwind utilities;

.todo.active span{
    @apply bg-gradient-to-br from-gradient_1 to-gradient_2
}
.todo.active p{
    @apply text-Light_Grayish_Blue_light dark:text-Very_Dark_Grayish_Blue_dark1
}
.todo.active p::before{
    opacity: 1;
}
.todo.active  svg {
    color: hsl(0, 0%, 98%);
}
.status p.active{
    
}
.fade-in{
    animation: fadein 500ms ease-in-out forwards;
}
@keyframes fadein {
    0%{
        opacity: 0;
        transform: scale(0);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}

.attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }

/*     
- Family: [Josefin Sans](https://fonts.google.com/specimen/Josefin+Sans)
- Weights: 400, 700 */